{
  "extends": ["eslint:recommended", "plugin:import/errors", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "es6": true
  },
  "plugins": ["import", "react"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },

  "rules": {
    "no-console": "off",
    "prefer-arrow-callback": 2,
    "strict": ["error", "global"],
    "curly": "warn"
  }
}
